<ul class="list-group">
    {{#each model as |content|}}
        {{eck-issue content=content}}
    {{else}}
        <li class="list-group-item">
            Empty board...
        </li>
    {{/each}}
</ul>