<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title" style="text-transform:capitalize;">{{name}}</h4>
    </div>
    <div class="panel-body">
        {{partial "createIssue"}}
    </div>
    {{partial "issueList"}}
</div>